header {
  display: flex;
  align-items: center;
  margin: 22px 0px;
  justify-content: space-between;
}

.burger-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.burger {
  display: none;
}

.logo{
  color: rgb(16, 16, 16);
  font-size: 25px;
  font-weight: 700;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
}

.model-pick {
  cursor: pointer;
  position: relative;
}

.model-pick:hover > .drop-down-menu{
  display: block;
}

.model-pick:hover > span > svg > path{
  fill: rgb(16, 16, 16);
}

.model-pick > span{
  display: flex;
  align-items: center;
  gap: 15px;
}

.model-pick > span > p{
  color: rgb(16, 16, 16);
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
}

.drop-down-menu {
  display: none;
  border-radius: 0px 0px 30px 30px;
  background-color: rgb(234, 234, 234); 
  box-shadow: 0px 45px 45px 0px rgba(0, 0, 0, 0.05);
  padding: 19px 0 29px 28px;

  color: rgb(28, 28, 39);
  font-size: 17px;
  font-weight: 500;

  position: absolute;
  width: 100%;
  z-index: 1;
}

.drop-down-menu-variants {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-left: 20px;
  padding-top: 12px;
}

.link {
  color: rgb(16, 16, 16);
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

.header-nav {
  display: flex;
  gap: 45px;
}


.header-nav > div:hover > svg > path{
  fill: rgb(16, 16, 16);
}

@media (max-width: 768px) {
  .burger {
    display: block;
    padding: 20px;
    cursor: pointer;
  }

  .burger-menu {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    border-radius: 0px 0px 0px 20px;
    background: rgb(255, 255, 255);
    top: 0;
    right: 0;
    padding: 20px 0 20px 25px;
    width: 294px;
    z-index: 10;
  }

  .drop-down-menu{
    display: block;
    background: rgb(255, 255, 255);
    box-shadow: none;
    position: relative;
  }



  .burger-bg {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background: rgba(48, 48, 48, 0.418);
  }
}

.open {
  display: flex;
}

.nav-cart, .nav-favorite {
  position: relative;
  cursor: pointer;
  padding: 10px;
}

.cart-amount {
  position: absolute;
  top: 5px;
  right: 0px;
  width: 17px;
  height: 17px;
  background: orange;
  border-radius: 100%;
  text-align: center;
  align-content: center;


  color: rgb(255, 255, 255);
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 500;
}